/* BOTÃO */
.button {
    display: inline-block;
    background-color: #F6BE2C; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px; /* Tamanho da fonte */
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    border: none; /* Remover borda */
    border-radius: 15px; /* Arredondar cantos */
    cursor: pointer; /* Alterar cursor para indicar que o botão é clicável */
    text-decoration: none; /* Remover sublinhado padrão em links */
}

/* Estilo do botão quando passa o mouse */
.button:hover {
    background-color: #d6a426;
}

/* Estilo do botão quando pressionado */
.button:active {
    background-color: #b18619
    ;
}

/*------------FIM BOTÃO------------*/

.div-centrada {
    position: relative;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    overflow-y: auto; /* Ativa a rolagem vertical quando necessário */
}
    

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: rgb(20, 20, 20);
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgb(20, 20, 20);
    margin-left: 20px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #0050D0;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #0050D0;
    margin-left: 20px;
}

/* Barra de navegação */
.barra-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid gainsboro;
    z-index: 1000; /* Para garantir que a barra de navegação esteja sempre no topo */
}

.barra-nav .menu {
    position: relative;
    display: inline-block;
}

.barra-nav .menu img {
    width: 24px;
    cursor: pointer;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 45px; 
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Inter', sans-serif;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Mostrar o dropdown quando passar o mouse */
.menu:hover .dropdown-content {
    display: block;
}


.menu img,
.perfil img {
    width: 20px; /* Tamanho do ícone */
    height: auto;
}

.voltar img {
    width: 40px; /* Tamanho do ícone */
    height: auto;
    margin-top: 80px;
    margin-left: 20px;
}

.logotipo {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: #0050D0;
    text-decoration: none;    
}

.logotipo:visited {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: #0050D0;
    text-decoration: none;    
}

.imagem-principal img {
    margin-top: 55px; 
    width: 100%;
}

footer {
    margin-top: 30px; /* Ajuste o espaçamento conforme necessário */
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: italic;
    color: dimgray;
    width: 100%;
}


.formulario {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 100%;
   
}

.campo {
    margin-bottom: 20px; /* Adiciona espaço entre os campos */
    margin-left: 20px;
}

.campo input {
    width: 95%;
    height: 30px;
}

.button-perfil {
    border: 1px solid gray;
    background-color: white;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    border-radius: 15px; /* Arredondar cantos */
    text-decoration: none; /* Remover sublinhado padrão em links */
  }
   
  .button-perfil:hover {
    background-color: #F6BE2C;
    color: black;   
  }

  /* Estilo do botão quando pressionado */
.button-perfil:active {
    background-color: #b18619
    ;
}

  .button-perfil i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.carrossel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carrossel-imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-imagens img {
    width: 100%;
    flex: 0 0 100%;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    cursor: pointer;
    user-select: none;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


  