{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <script src="https://kit.fontawesome.com/7ddf7f6ec2.js" crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>
    <title>O projeto</title>    
</head>
<body>

    <header class="barra-nav">
        <div class="menu">
            <img src="{% static 'bars-solid.svg' %}" alt="Ícone do menu">
            <div class="dropdown-content">
                <a href="{% url 'quemsomos' %}">Quem somos</a>
                <a href="{% url 'projeto' %}">O projeto</a>
                <a href="{% url 'saibamais' %}">Saiba mais</a>
            </div>
        </div>

        <div class="logotipo">
            <a href="{% url 'home' %}" class="logotipo">
                <h1>Achei</h1>
            </a>
        </div>

        <div class="perfil">
            {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}">
                    <img src="{% static 'user-regular.svg' %}" alt="Ícone de perfil">            
                </a>

            {% else %}
                <a href="{% url 'login' %}">
                    <img src="{% static 'user-regular.svg' %}" alt="Ícone de perfil">
                </a>
            {% endif %}
            
        </div>
    </header>

    <div class="voltar">
        <a href="{% url 'home' %}">
            <img src="{% static 'circle-left-solid.svg' %}" alt="Icone de voltar">
        </a>
    </div> 

    <div>
 
        <fieldset style="padding-top:0%; border: 3px  solid navy;text-align:left;font-size: 16px;font-family: 'Inter', sans-serif;fieldset p{margin:0};">

            <legend style="margin-left: 1em; padding: 0.2em 0.8em "><h3>O Projeto Achei</h3></legend>

            <p>
                O número de objetos perdidos é grande, somente no metrô da região metropolitana de São Paulo 135 mil objetos foram entregues às empresas como objetos perdidos 
                e pouco mais de 40 mil foram devolvidos aos seus donos (Redação Mobilidade, 2024). De acordo com uma reportagem da BBC de Londres, o sistema japonês
                de devolução de itens perdidos é um dos mais eficientes. Em 2019, 4,15 milhões de itens foram devolvidos aos seus donos.                
            </p>
            <p>
                A perda de objetos pessoais traz frustração, prejuízos financeiros e até emocionais.
                As chances de recuperação dos itens esquecidos é mínima e condicionada à memória dos donos e a existência de 
                departamentos de achados e perdidos nos locais.
            </p>
            <p>
                A aplicação <span style=" font-weight:bold; color:blue">Achei</span> busca aumentar essas chances, 
                ao propor um ambiente fácil e seguro que conecta usuários que perderam e acharam objetos devidamente marcados com q-code, 
                em qualquer violação de prioridade.
            </p>
            
        </fieldset>

    </div>

<h3 style="text-align: center;"> Junte se a nós! </h3>

  <footer>
        Projeto Integrador III - Grupo 2
        <br>
        Univesp - 2024
    </footer>

</body>
</html>